#footerlinks {text-align: left;}

#brands .mysterious { width: 170px; float: left; }
#brands .tokyomilk { width: 241px; height: 125px; margin-left: 193px; }


#facebox { position: absolute; top: 0; left: 0; z-index: 10000; text-align: left; width: 781px; margin-left: 0px;}
#facebox .moniker { font-size: 14px; text-transform: uppercase; color: #ff66cc; width: 195px; height: 60px; float: right; }
#facebox .dots2 { background: url('/images/facebox/ltfaceboxdots2.png') no-repeat; width: 734px; height: 15px; margin-top: -3px;}