=sitefont1
	font-family: 'Trebuchet MS', Helvetica
=sitefont2
	font-family: 'Trebuchet MS', Helvetica
=smallfont
	font-size: 10px
=mediumfont
	font-size: 12px
=largefont
	font-size: 14px
=sitecolor1
	color: #ff66cc
=sitecolor2
	color: #999999
=sitecolor3
	color: #666666
=black
	color: #000000
=emailareainput			
	margin: 4px 0px 0px 3px
	width: 120px
	border: 0
	padding: 0
	
#container
	background: url('/images/ltbgimg.jpg') no-repeat
	width: 1030px

.header
	height: 160px

.logo
	margin-left: 105px
	float: left
	
.checkoutlinks
	float: left
	width: 206px
	height: 123px
	margin-left: 154px
	background: url('/images/ltcheckoutbg.png') no-repeat
	.cartitems
		float: left
		width: 43px
		height: 51px
		background: url('/images/ltshoppingbagqty.jpg') no-repeat
		margin: 10px 0px 0px 35px
		.cartmargin
			margin: 16px 0px 0px 0px
			text-align: center
	.shoppingbag
		float: left
		width: 127px
		height: 51px
		margin-top: -5px
	.checkout
		float: left
		margin-left: 30px
		
#left
	width: 300px
	float: left
	a
		+sitecolor2
	#shape
		margin-left: 39px
		margin-top: 60px
		float: left
		width: 86px
		height: 116px
		background: url('/images/ltshape.jpg') no-repeat
	#navlinks
		+sitefont1
		float: left
		width: 155px
		margin-top: 115px
		text-align: left
		+smallfont
		text-transform: lowercase
		margin-bottom: 70px
		ul
			list-style-type: none
			display: block
			margin: 0
			padding: 0
		li
			padding: 2px 0px 2px 5px
		#categorylinks
			margin: 7px 0px 15px 0px
		.sublist
			margin: -4px 0px -4px 10px
			font-size: 9px
			
#emailarea
	clear: both
	text-align: left
	margin-left: 75px
	.padding
		padding-left: 52px
	.emailinput
		background: url('/images/ltemailnametextbox.jpg') no-repeat
		height: 25px
		width: 131px
		input
			+emailareainput
	.info
		width: 33px
		float: left
		margin-right: 60px
	.submit
		width: 42px
		float: left
		input
			border: 0
			width: 41px
			height: 42px

#footerlinks
	+smallfont
	+sitecolor2
	+sitefont1
	margin-left: 125px
	margin-top: 20px
	a
		+smallfont
		+sitecolor2
		+sitefont1
	

#right
	width: 692px
	float: left
	text-align: left
	margin-top: 84px
	
.arealabel
	width: 23px
	float: left
	height: 399px
	
.areabg
	width: 671px
	background: url('/images/ltbgrepeater.png') repeat-y
	margin-left: 20px


.splashbg
	width: 671px
	background: url('/images/ltbgrepeater.png') repeat-y
.splashbanner
	margin-left: 64px
.splashshophere
	width: 110px
	float: left
	margin-top: 135px
	margin-left: 18px
.splashproducts
	width: 520px
	float: left

#productsajax
	width: 692px
	background: url('/images/ltproductsbg.png') no-repeat
	height: 448px

.innerproducts
	width: 630px
	margin-left: 25px
	.row
		height: 372px
		.product
			width: 300px
			height: 372px
			float: left
			.image
				width: 240px
				height: 240px
				margin: 30px 30px 0px 40px
			.description
				padding: 0px 35px
				.title
					height: 92px
					width: 130px
					float: left
					+mediumfont
					+sitecolor1
					text-transform: lowercase
					+sitefont1
					margin-right: 10px
				.button
					width: 90px
					height: 90px
					float: left
						
.scroller
	width: 669px
	height: 27px
	.scrollermargin
		margin-left: 215px
		.scrollbutton
			cursor: pointer
			float: left
			width: 13px
			height: 13px
			
.track
	float: left
	width: 275px
	height: 23px
	margin: 0px 10px
	background: url('/images/lttrack.png') no-repeat
	
.handle
	width: 39px
	height: 23px
	cursor: move
	background: url('/images/lthandle.png') no-repeat
	
#mission
	width: 692px
	background: url('/images/ltmissionbg.png') no-repeat
	height: 422px
	float: left
	text-align: center
	.copy
		+mediumfont
		+sitefont1
		color: #000000
		line-height: 14px
		padding: 0px 60px
		.image
			margin: 20px 0px 20px 0px
		.pink
			+sitecolor1
		.small
			font-size: 8px
	
#storelocator
	width: 692px
	background: url('/images/ltcartrepeaterbg.png') repeat-y
	padding: 20px 0px 0px 15px
	.padding
		padding: 10px 10px 10px 18px
	.bottommargin
		margin-bottom: 11px
	.label
		width: 72px
		height: 34px
		float: left
	.addressinput
		width: 300px
		height: 34px
		float: left
		background: url('/images/ltaddresstextbox.png') no-repeat
		input
			width: 285px
			border: 0
			padding: 0
			margin: 11px 0px 0px 5px
	.within
		width: 72px
		height: 39px
		float: left
	.withinselect
		width: 60px
		float: left
		margin-top: 6px
	.miles
		width: 50px
		height: 39px
		float: left
	.go
		width: 40px
		height: 39px
		float: left
		margin-left: 10px
	.mapborder
		width: 470px
		height: 471px
		background: url('/images/ltmapbox.png') no-repeat
		margin-right: 10px
		float: left
	.locations
		width: 160px
		float: left
		.listheader
			+mediumfont
			text-transform: uppercase
		.list
			border-bottom: 1px solid #000000
			margin-bottom: 10px
			padding: 10px 10px 10px 0px
			+sitefont1
			+smallfont
			line-height: 14px
			.name
				+sitecolor1

#account_login
	width: 692px
	background: url('/images/ltaccountbg.png') no-repeat
	height: 434px
	.imagecenter
		text-align: center
	.loginarea
		width: 260px
		text-align: center
		margin: 0px auto
		.emaillabel
			width: 62px
			height: 28px
			float: left
		.emailinput
			width: 166px
			float: left
			height: 28px
			background: url('/images/ltaccountpasswordinput.png') no-repeat
			input
				border: 0
				margin: 5px 0px 0px 0px
				padding: 0
				width: 157px
		.passwordlabel
			width: 62px
			height: 29px
			float: left
		.passwordinput
			width: 166px
			float: left
			height: 29px
			background: url('/images/ltaccountpasswordinput.png') no-repeat
			input
				border: 0
				margin: 5px 0px 0px 0px
				padding: 0
				width: 157px
		.checkbox
			margin-left: 62px
			width: 22px
			height: 18px
			float: left
		.remeberlabel
			width: 100px
			float: left
			+smallfont
			+sitefont1
			text-transform: lowercase
			text-align: left
			margin-top: 4px
		.loginbtn
			width: 47px
			height: 48px
			float: left
		a:link
			+smallfont
			+sitefont2
			+black
		a:visited
			+black
		a:hover
			+sitecolor1
		a:active
			+sitecolor1

#contact_us
	width: 692px
	background: url('/images/ltcontactbg.png') no-repeat
	height: 509px
	padding-left: 40px
	.formfields
		margin-left: 20px
		padding-top: 10px
		.dots1
			margin-top: -5px
		.dots2
			margin-top: 10px
		.ltsuccess
			color: #ff66cc
			font-size: 12px
			margin: 10px 0px 10px 5px
		.label
			width: 97px
			float: left
		.contactinput
			width: 144px
			height: 33px
			float: left
			background: url('/images/ltcontactnameinput.png') no-repeat
			input
				width: 134px
				margin: 12px 0px 0px 4px
				padding: 0
				border: 0
		.star1
			width: 17px
			float: left
			height: 33px
		.fieldspacing
			margin-top: 8px
		.emailinput
			width: 144px
			height: 32px
			float: left
			background: url('/images/ltcontactemailinput.png') no-repeat
			input
				width: 134px
				margin: 12px 0px 0px 4px
				padding: 0
				border: 0
		.star2
			width: 17px
			height: 32px
			float: left
		.orderinput
			width: 144px
			height: 30px
			float: left
			background: url('/images/ltcontactorderinput.png') no-repeat
			input
				width: 134px
				margin: 10px 0px 0px 4px
				padding: 0
				border: 0
		.commentinput
			width: 311px
			height: 114px
			float: left
			background: url('/images/ltcontactcommenttext.png') no-repeat
			textarea
				width: 294px
				height: 92px
				border: 0
				margin: 11px 0px 0px 8px
				padding: 0
		.sendbutton
			width: 60px
			height: 63px
			margin-left: 97px
			float: left
		.requiredfields
			width: 119px
			float: left
			margin-left: 120px

#brands
	width: 682px
	background: url('/images/ltbrandsbg.png') no-repeat
	height: 518px
	.margotimg
		margin: 5px 0px 0px 255px
	.toplines
		margin-left: 3px
		background: url('/images/ltbrandstoplines.png') no-repeat
		width: 678px
		height: 40px
	.brandlist
		height: 240px
		margin-top: -40px
	.bottomlines
		margin-bottom: 10px
		background: url('/images/ltbrandsbottomlines.png') no-repeat
		width: 678px
		height: 9px

#press
	width: 692px
	background: url('/images/ltpressbg.png') no-repeat
	height: 516px
	padding-left: 20px
	.toplines
		margin-bottom: 5px
		padding-top: 10px
		background: url('/images/ltpresstoplines.png') no-repeat
		width: 678px
		height: 39px
	.bottomlines
		margin: 5px 0px 5px 0px
		background: url('/images/ltpressbottomlines.png') no-repeat
		width: 678px
		height: 9px
		

#forgot_password
	width: 692px
	background: url('/images/ltaccountforgotpasswordbg.png') no-repeat
	height: 414px
	padding: 20px 0px 0px 60px
	+sitefont1
	+smallfont

#my_account
	width: 692px
	background: url('/images/ltaccountmyaccountbg.png') no-repeat
	height: 535px
	padding: 20px 0px 0px 60px
	+sitefont1
	+smallfont
	.left
		width: 390px
		float: left
		margin-right: 120px
	.right
		width: 103px
		float: left
	.positioning
		margin: 10px 0px 10px 10px
	#ordertable
		width: 600px
		th
			+smallfont
			+sitecolor1
		td
			margin: 10px 0px
			+sitecolor2
	a
		+sitecolor1
	.emaillabel
		+mediumfont
		float: left
		width: 75px
		font-weight: bold
		margin-right: 70px
	.emailaddress
		float: left
		width: 150px
		font-weight: bold
		+mediumfont
		+sitecolor1
	.actionlink
		+black
		font-weight: bold
		+mediumfont


#order_summary
	width: 692px
	background: url('/images/ltaccountordersummarybg.png') no-repeat
	height: 535px
	padding: 20px 0px 0px 60px
	+sitefont1
	+smallfont
	#summarytable
		+mediumfont
		+black
		.pinkhighlight
			+sitecolor1
	a:link
		+black
		font-weight: bold
		+mediumfont
	a:visited
		+black
	a:hover
		+sitecolor1
	a:active
		+black

#userform
	margin-top: 20px
	h1
		+mediumfont
		+sitefont1
		font-weight: normal
		+sitecolor1
		text-transform: uppercase
		margin: 20px 0px
	.left
		width: 275px
		float: left
		margin-right: 50px
	.right
		width: 275px
		float: left
	.formlabel
		width: 64px
		float: left
	.formemailinput
		width: 134px
		height: 23px
		float: left
		background: url('/images/ltformemailinput.png') no-repeat
		input
			width: 125px
			border: 0
			margin: 5px 0px 0px 3px
			padding: 0
	.formpasswordinput
		width: 134px
		height: 20px
		float: left
		background: url('/images/ltformpasswordinput.png') no-repeat
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formpasswordconfirminput
		width: 134px
		height: 23px
		float: left
		background: url('/images/ltformpasswordconfirminput.png') no-repeat
		input
			width: 125px
			border: 0
			margin: 4px 0px 0px 3px
			padding: 0
	.formbillingfirstnameinput
		background: url('/images/ltformbillingfirstnameinput.png') no-repeat
		width: 134px
		height: 23px
		float: left
		input
			width: 125px
			border: 0
			margin: 4px 0px 0px 3px
			padding: 0
	.formbillinglastnameinput
		background: url('/images/ltformbillinglastnameinput.png') no-repeat
		width: 134px
		height: 20px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formbillingaddressinput
		background: url('/images/ltformbillingaddressinput.png') no-repeat
		width: 134px
		height: 20px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formbillingaddress2input
		background: url('/images/ltformbillingaddress2input.png') no-repeat
		width: 134px
		height: 21px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formbillingcityinput
		background: url('/images/ltformbillingcityinput.png') no-repeat
		width: 134px
		height: 23px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formbillingstateinput
		background: url('/images/ltformbillingstateinput.png') no-repeat
		width: 138px
		height: 23px
		float: left
		select
			width: 130px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formbillingzipinput
		background: url('/images/ltformbillingzipinput.png') no-repeat
		width: 138px
		height: 23px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formbillingphoneinput			
		background: url('/images/ltformbillingphoneinput.png') no-repeat
		width: 132px
		height: 20px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0		
	.formbillingemailinput
		background: url('/images/ltformbillingemailinput.png') no-repeat
		width: 132px
		height: 20px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0		
	.shippingcheckbox
		float: right
		margin-right: 77px
	.usebilling
		float: right
		margin-top: 3px
		+sitefont1
		+smallfont
	.formshippingfirstnameinput
		background: url('/images/ltformshippingfirstnameinput.png') no-repeat
		width: 134px
		height: 23px
		float: left
		input
			width: 125px
			border: 0
			margin: 4px 0px 0px 3px
			padding: 0
	.formshippinglastnameinput
		background: url('/images/ltformshippinglastnameinput.png') no-repeat
		width: 134px
		height: 20px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formshippingaddressinput
		background: url('/images/ltformshippingaddressinput.png') no-repeat
		width: 134px
		height: 20px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formshippingaddress2input
		background: url('/images/ltformshippingaddress2input.png') no-repeat
		width: 134px
		height: 21px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formshippingcityinput
		background: url('/images/ltformshippingcityinput.png') no-repeat
		width: 134px
		height: 23px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formshippingstateinput
		background: url('/images/ltformshippingstateinput.png') no-repeat
		width: 138px
		height: 24px
		float: left
		select
			width: 130px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formshippingzipinput
		background: url('/images/ltformshippingzipinput.png') no-repeat
		width: 134px
		height: 22px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formshippingphoneinput
		background: url('/images/ltformshippingphoneinput.png') no-repeat
		width: 132px
		height: 20px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.requiredfield
		width: 5px
		float: left
	.submitbutton
		width: 110px
		height: 43px
		float: left

#signup
	width: 692px
	background: url('/images/ltaccountnewcustomerbg.png') no-repeat
	height: 535px
	padding: 20px 0px 0px 60px
	+sitefont1
	+smallfont
	.createlinks
		text-align: right
		margin-right: 140px
		margin-top: 25px
	a:link
		+black
	a:visited
		+black
	a:hover
		+sitecolor1
	a:active
		+black

#shopping_cart
	width: 692px
	background: url('/images/ltcartrepeaterbg.png') repeat-y
	padding: 20px 0px 0px 40px
	+sitefont1
	+mediumfont
	.subtotal
		+sitecolor1
		font-size: 16px
		font-weight: bold
		text-align: right
		margin-right: 80px
	.empty
		float: right
	.update
		float: right
		margin-right: 70px
	.continueshopping
		float: right
	.checkout
		float: right
		margin-right: 70px
	.dots
		margin: 10px 0px 10px 260px
	.recommendations
		margin: 5px 0px
		h1
			+largefont
			+sitecolor1
			text-transform: uppercase
			font-weight: normal
			margin: 5px 0px
		td
			width: 175px
		.miniimage
			border: 1px solid #cccccc
			width: 70px
			height: 70px
			margin-right: 5px
			float: left
		.information
			width: 100px
			+smallfont
			+sitefont1
			float: left
			.title
				+sitecolor2
			.price
				width: 40px
				float: left
				margin-right: 5px
				+sitecolor1
			.addbutton
				width: 55px
				float: left
	#cart_details
		width: 550px
		th
			+mediumfont
			font-weight: bold
		.title
			+smallfont
			+sitecolor2
		.total
			+mediumfont
			+sitecolor1
		.qtyinput
			width: 35px
			height: 38px
			background: url('/images/ltcartqty.png') no-repeat
			input
				width: 22px
				margin: 11px 0px 0px 6px
				padding: 0
				border: 0
				text-align: center
				+sitecolor1
				+mediumfont
				
#cartcheckout
	width: 692px
	background: url('/images/ltcartrepeaterbg.png') repeat-y
	padding: 20px 0px 0px 40px
	+sitefont1
	+mediumfont

div#checkout
	position: relative
	.errorExplanation
		+sitecolor1
		+smallfont
	h1
		+mediumfont
		+sitefont1
		font-weight: normal
		+sitecolor1
		text-transform: uppercase
		margin: 10px 0px	
	h2
		+sitecolor1
		+largefont
		margin: 10px 0px 10px 0px
	ol.progress-steps
		list-style: none
		margin: 10px 0px
		padding: 0
		line-height: 1em
		font-size: 12px
	ol.progress-steps li
		margin: 0
		padding: 0
		list-style: none
		display: block
		float: left
		color: #000
		background-position: top left
		background-repeat: no-repeat
		background-image: url(../images/step-progress/incomplete-incomplete.gif)
	ol.progress-steps li span
		padding: 5px 14px 7px 24px
		display: block
		float: left
		background-position: top right
		background-repeat: no-repeat
	ol.progress-steps li a
		text-decoration: none
		color: #333
	/* lefts */
	ol.progress-steps li.current-first span, ol.progress-steps li.completed-first span
		padding-left: 14px
	ol.progress-steps li.current-first
		background-image: url(../images/step-progress/current-first.gif)
	ol.progress-steps li.completed-first
		background-image: url(../images/step-progress/completed-first.gif)!important
	/* middles */
	ol.progress-steps li.current, ol.progress-steps li.current-first, ol.progress-steps li.current-last
		color: #fff
	ol.progress-steps li.completed
		background-image: url(../images/step-progress/completed-completed.gif)
	ol.progress-steps li.current, ol.progress-steps li.current-last
		background-image: url(../images/step-progress/completed-current.gif)
	ol.progress-steps li.next, ol.progress-steps li.next-last
		background-image: url(../images/step-progress/current-incomplete.gif)
	/* rights */
	ol.progress-steps li.last span, ol.progress-steps li.next-last span
		background-image: url(../images/step-progress/incomplete-right.gif)
	ol.progress-steps li.current-last span
		background-image: url(../images/step-progress/current-right.gif)
	.left
		float: left
		width: 240px
		margin-right: 10px
	.right
		width: 350px
		float: left
		th
			+sitecolor1
	.speciallabel
		width: 165px
		float: left
		margin-right: 10px
		margin-top: 4px
		+smallfont			
		text-align: right
	.specialinput
		width: 25px
		height: 20px
		float: left
	.title
		+smallfont
		+sitecolor2
	.total
		+mediumfont
		+sitecolor1
	.qtyinput
		width: 35px
		height: 38px
		background: url('/images/ltcartqty.png') no-repeat
		input
			width: 22px
			margin: 11px 0px 0px 6px
			padding: 0
			border: 0
			text-align: center
			+sitecolor1
			+mediumfont
	.chargessummary
		+mediumfont
		+sitecolor1
		td
			text-align: right
	.couponcode
		+mediumfont
		+sitecolor1
		width: 350px
		.coupontitle
			float: left
			width: 80px
			margin-top: 7px
			margin-right: 4px
		.couponcodeinput
			background: url('/images/ltformbillingcityinput.png') no-repeat
			width: 134px
			height: 23px
			float: left
			margin-top: 7px
			text-align: left
			input
				width: 124px
				margin: 2px 0px 0px 3px
				padding: 0
				border: 0
		.couponsubmit
			width: 110px
			float: left
	.formlabel
		width: 64px
		float: left	
	.formcardnumberinput
		background: url('/images/ltformcardnumberinput.png') no-repeat
		width: 139px
		height: 19px
		float: left
		input
			width: 130px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formexpiresmonthinput
		background: url('/images/ltformexpiresmonthinput.png') no-repeat
		width: 71px
		height: 24px
		float: left
		select
			width: 62px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formexpiresyearinput
		background: url('/images/ltformexpiresyearinput.png') no-repeat
		width: 69px
		height: 24px
		float: left
		select
			width: 55px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.formcvvinput
		background: url('/images/ltformcvvinput.png') no-repeat
		width: 139px
		height: 26px
		float: left
		input
			width: 125px
			border: 0
			margin: 3px 0px 0px 3px
			padding: 0
	.whatsthis
		width: 139px
		height: 26px
		float: left
		a
			+black
			+sitefont1
			+smallfont	
				

#facebox
	position: absolute
	top: 0
	left: 0
	z-index: 10000
	text-align: left
	.topborder
		background: url('/images/facebox/ltfaceboxtopborder.png') no-repeat
		width: 787px
		height: 39px
	.bottomborder
		background: url('/images/facebox/ltfaceboxbottomborder.png') no-repeat
		width: 787px
		height: 28px
	.leftborder
		background: url('/images/facebox/ltfaceboxleftborder.png') no-repeat
		width: 29px
		height: 618px
	.rightborder
		background: url('/images/facebox/ltfaceboxrightborder.png') no-repeat
		width: 16px
		height: 618px
	.close
		background: url('/images/facebox/ltfaceboxclose.png') no-repeat
		float: right
		width: 23px
		height: 26px
		margin-right: 5px
	.loading
		margin: 0 auto
		width: 32px
		height: 32px
		background: url('/images/facebox/loading.gif')
		background-repeat: no-repeat
		text-align: center
	.popup
		position: relative
	table
		border-collapse: collapse
	td
		border-bottom: 0
		padding: 0
	.body
		width: 742px
		height: 618px
		background: url('/images/facebox/ltfaceboxbodybg.png') repeat-y
		+sitefont1
		+sitecolor2
	.imagearea
		width: 500px
		float: left
	.descriptionarea
		width: 226px
		float: left
		.title
			+largefont
			text-transform: uppercase
		.price
			+largefont
			+sitecolor1
			margin: 10px 0px
		.dots1
			width: 226px
			height: 14px
			background: url('/images/facebox/ltfaceboxdots1.png') no-repeat
			margin-bottom: 10px
		.description
			font-size: 10px
			margin-bottom: 15px
		.quantity
			width: 40px
			float: left
			font-weight: bold
			color: #ff66cc
			margin-top: 5px
		.quantityinput
			float: left
			width: 46px
			height: 33px
			background: url('/images/facebox/ltfaceboxqty.png') no-repeat
			input
				border: 0
				padding: 0
				margin: 10px 0px 0px 7px
				+sitecolor1
				font-weight: bold
				text-align: center
				width: 30px
				background-color: transparent
		.largebutton
			text-align: right
	.dots2
		background: url('/images/facebox/ltfaceboxdots2.png') no-repeat
		width: 734px
		height: 15px
	.moniker
		+largefont
		text-transform: uppercase
		+sitecolor1
		width: 195px
		height: 70px
		float: right
	.monikerposition
		margin-top: 25px
		margin-left: 5px
	.recommendations
		width: 535px
		float: right
		.item
			width: 170px
			margin-right: 5px
			float: left
		.itemimage
			width: 70px
			float: left
		.itemtitle
			width: 100px
			float: left
			+smallfont
		.iteminfo
			width: 100px
			float: left
			+smallfont
		.itemprice
			width: 50px
			float: left
			+sitecolor1
		.itembtn
			width: 45px
			height: 45px
			float: left
	.image
		text-align: center
	img
		border: 0
		margin: 0
	.footer
		padding-top: 0px
		height: 26px		

		
#facebox_overlay
	position: fixed
	top: 0px
	left: 0px
	height: 100%
	width: 100%

.facebox_hide
	z-index: -100

.facebox_overlayBG
	background-color: #000
	z-index: 9999

* html #facebox_overlay
	position: absolute
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')