=sitefont
	font-family: Georgia, Verdana, Arial

=ltemailbox
	background-repeat: no-repeat
	height: 23px
	border: 0
	padding-left: 17px
	margin-top: -5px
	padding-top: -5px

.background
	background: url('/images/bgimg.jpg')
	background-repeat: no-repeat
	height: 768px
	width: 1030px
	overflow: hidden
	position: fixed
	z-index: 0
	top: 0
	
.logo
	height: 263px
	width: 1030px
	position: fixed
	z-index: 300
	top: 0

.emailarea 
	position: absolute
	width: 170px
	top: 0
	right: 0
	height: 152px
	margin-top: 18px
#emailbox1
	input
		background: url('/images/ltemailbox1.png')
		+ltemailbox
#emailbox2
	input
		background: url('/images/ltemailbox2.png')
		+ltemailbox
#emailname
	margin-top: -15px
#emaillabel
	margin-top: -15px
#emailsendbutton
	text-align: right
	margin-right: 20px
	margin-top: -15px

.scrollerwrapper
	position: absolute
	z-index: 200
	top: 0
	.scroller
		width: 785px
		margin-left: 239px
		margin-top: 263px
		.arealabel
			height: 399px
			width: 23px
			float: left
			margin-left: 36px
		.area
			float: left
			margin-bottom: 120px
			height: 399px
			width: 726px

#products
	white-space: nowrap
	overflow: hidden
	#draggable
		position: relative
		height: 328px

.transparent
	width: 762px
	overflow: hidden
	background: url('/images/bgrepeater.png')
	background-repeat: repeat-y
	.divheight
		height: 399px

#ltproducts .product
	width: 330px
	text-align: center
	height: 328px
	float: left
	margin: 25px 10px 0px 0px
	+sitefont
	font-size: 10px
	line-height: 14px
	text-transform: uppercase
	color: #330000
	.name
		float: left
		margin-right: 10px
		height: 62px
		text-align: center
		width: 180px
		margin-left: 60px
		white-space: normal
		padding-top: 15px
	.image
		height: 240px
		
	.addtocartbutton
		width: 61px
		height: 49px
		float: left
		color: #fff
		margin-top: -13px
		padding-top: 13px
		cursor: pointer
		background: url('/images/addbutton.png')
		background-repeat: no-repeat
		.submitbutton
			border: 0
			color: #fff
			background-color: #ff00cc
			cursor: pointer
			font-family: Georgia
			font-size: 10px

.showproduct
	width: 762px
	background: url('/images/bgrepeater.png')
	background-repeat: repeat-y
	.showpadding
		padding: 20px
	.showimage
		width: 300px
		margin-right: 10px
		float: left
	.showdescription
		width: 350px
		float: left
	.showinput
		width: 25px

#slidearea
	width: 726px
	height: 30px
	background: url('/images/bgrepeater.png')
	background-repeat: repeat-y
	.scrollleft
		margin-left: 200px
		margin-right: 20px
		float: left
		height: 13px
		width: 13px
		margin-top: 8px
	.scrollright
		float: left
		height: 13px
		width: 13px
		margin-top: 8px
	.track
		float: left
		width: 275px
		height: 23px
		margin: 5px 20px 0px 0px
		background: url('/images/track.jpg')
		background-repeat: no-repeat
	.handle
		width: 39px
		height: 23px
		cursor: move
		background: url('/images/handle.png')
		background-repeat: no-repeat

#descriptionarea
	margin-left: 30px
	width: 450px
	float: left
	margin-right: 50px
	font-weight: bold  
	h1
		font-size: 10px
		font-weight: bold  
		+sitefont
		text-transform: uppercase
	p
		font-size: 10px
		+sitefont
	.description
		width: 400px
		margin-right: 10px
	.properties
		width: 400px
		div
			font-size: 10px
			margin: 0px

#addform
	#addbutton
		width: 88px
		height: 88px
		float: left
		padding-top: 20px
		.price
			+sitefont
			font-size: 12px
			margin-bottom: -34px
			margin-left: 22px
			position: relative
			z-index: 40
			cursor: pointer
			color: #ffffff
	#addform
		width: 90px
		float: left

#navigation
	margin-top: 10px
	height: 31px
	width: 726px
	padding-top: 5px
	background: url('/images/bgrepeater.png')
	background-repeat: repeat-y
	.navstyles
		margin-left: 40px
		+sitefont
		text-transform: lowercase
		color: #000000
		font-style: italic
		ul
			margin: 0
			padding: 0
			list-style: none
		ul li
			position: relative
			display: inline
		li ul
			position: absolute
			left: 5px
			top: 12px
			display: none
		li:hover ul
			display: block
		#verticallist
			position: absolute
			z-index: 400
			margin: 0
			padding: 0
			overflow: visible
			li
				list-style: none
				float: left
			li a
				display: block
				padding: 1px 5px
				color: #000
				text-decoration: none
			li ul
				display: none
				width: 15em /* Width to help Opera out */
			li:hover ul
				display: block
				position: absolute
				margin: 5px 0px 0px 0px
				padding: 0
				color: #ff00cc
				background-color: #ffffff
			li:hover li
				float: none
			li:hover li a
				color: #000
			li li a:hover, li a:hover
				color: #ff00cc

.leftwrapper
	position: absolute
	z-index: 400
	top: 0
	.leftnav
		width: 239px
		margin-right: 10px
		margin-top: 263px
		position: fixed
		height: 505px
		+sitefont
		.bigplus
			background: url('/images/bigplus.jpg')
			background-repeat: no-repeat
			width: 70px
			height: 68px
			margin-left: 27px
		.navitems
			margin-left: 65px
			margin-top: -30px
			margin-bottom: -10px
			ul, li
				line-height: 16px
				font-size: 12px
				list-style-type: none
			a:link
				color: #000000
				font-size: 12px
			a:visited
				color: #000000
			a:hover
				color: #ff00cc
			a:active
				color: #ff00cc

		.shoppingbag
			margin-left: 48px
			width: 130px
			height: 105px
		.cartitems
			margin-left: 48px
			width: 130px
			height: 99px
			padding-top: 15px
			padding-left: 30px
			background-image: url('/images/cartitems.jpg')
			background-repeat: no-repeat
			+sitefont
			font-size: 16px
			.inner
				height: 60px
				width: 60px
				.padding
					padding-top: 7px
					text-align: center
		.checkout
			margin-left: 48px
			width: 130px
			height: 67px

#mission
	padding: 49px 0px 0px 35px
	h1
		margin: 10px 0px 10px 0px
		color: #66ccff
		font-size: 36px
		line-height: 44px
		font-family: Courier
		font-weight: normal
		span
			color: #ff0000
			font-family: Justy1, Georgia
	p
		margin: 10px 0px 10px 0px
		width: 680px
		font-weight: normal
		color: #66ccff
		font-family: Courier
		font-size: 18px
		line-height: 24px
	.red
		color: #ff0000
		font-size: 22px
		font-family: Justy1, Georgia
	.small
		font-size: 10px

#youraccount
	margin: 100px 0px 0px 25px
	.left
		width: 300px
		float: left
		margin-right: 10px
		margin-top: 30px
		h1
			margin: 10px 0px 10px 70px
			font-size: 18px
			font-style: italic
			color: #000000
			font-family: Georgia
			font-weight: normal
		.loginlabel
			width: 60px 
			margin-right: 10px
			text-align: right
			font-size: 12px
			font-family: Georgia
			line-height: 14px
			float: left
			margin-top: 10px
		.logininput
			float: left
			margin-bottom: 10px
			input
				width: 207px
				padding: 5px 0px 5px 5px
				border-width: 1px
				border-style: solid
				border-color: #000000
		.passwordlabel
			width: 60px
			margin-right: 10px
			text-align: right
			font-size: 12px
			font-family: Georgia
			line-height: 14px
			float: left
			margin-top: 5px
		.passwordinput
			float: left
			input
				width: 207px
				padding: 5px 0px 5px 5px
				border-width: 1px
				border-style: solid
				border-color: #000000
		.remember
			margin-top: 5px
			.rememberpadding
				width: 60px
				margin-right: 10px
				float: left
			.rememberarea
				float: left
				width: 220px
				.rememberinput
					float: left
					width: 25px
				.rememberlabel
					float: left
					width: 110px
					margin-top: 5px
					font-size: 12px
					font-family: Georgia
					line-height: 14px
				.remeberlogin
					float: left
					width: 80px
					margin-top: 5px
		.pwlinksarea
			margin-top: 5px
			.pwlinkspadding
				width: 60px
				margin-right: 10px
				float: left
			.pwlinks
				font-size: 10px
				font-family: Georgia
				line-height: 14px
				font-style: italic
				a:link
					color: #000000
				a:visited
					color: #000000
				a:hover
					color: #ff00cc
				a:active
					color: #ff00cc
	.right
		float: left
		width: 200px

#contactus
	.contactpadding
		margin: 20px 0px 0px 30px
		.left
			width: 450px
			float: left
			margin-right: 100px
			.contactlabel
				float: left
				width: 87px
			.contactinput
				float: left
				width: 157px
				margin-top: -5px
				.nameinput
					background: url('/images/ltcontactnameinput.png') no-repeat
					height: 37px
					width: 147px
					padding: 12px 0px 0px 10px 
					border: 0
				.emailinput
					background: url('/images/ltcontactemailinput.png') no-repeat
					height: 37px
					width: 147px
					padding: 12px 0px 0px 10px
					border: 0
				.orderinput
					background: url('/images/ltcontactorderinput.png') no-repeat
					height: 37px
					width: 147px
					padding: 12px 0px 0px 10px
					border: 0
			.contactstar
				float: left
				width: 20px
				margin-top: -5px
			.request
				float: left
				width: 335px
				.requestinput
					background: url('/images/ltcontactcommenttext.png') no-repeat
					width: 300px
					height: 101px
					border: 0
					padding: 12px 20px 10px 15px
		.right
			width: 150px
			float: left
	

.noproducts
	margin: 10px 0px 0px 20px

#facebox
	position: absolute
	top: 0
	left: 0
	z-index: 10000
	text-align: left
	.b
		background: url(/images/facebox/b.png)
	.tl
		background: url(/images/facebox/tl.png)
	.tr
		background: url(/images/facebox/tr.png)
	.bl
		background: url(/images/facebox/bl.png)
	.br
		background: url(/images/facebox/br.png)
	.next
		background: url(/images/facebox/next.png)
	.prev
		background: url(/images/facebox/prev.png)
	.close
		background: url('/images/facebox/closelabel.gif')
		background-repeat: no-repeat
		float: right
		display: block
		width: 47px
		height: 50px
	.prev, .next
		display: block
		float: left
		width: 20px
		height: 22px
	.navigation .counter
		float: left
		padding: 3px 5px
	.loading
		margin: 0 auto
		width: 32px
		height: 32px
		background: url('/images/facebox/loading.gif')
		background-repeat: no-repeat
		text-align: center
	.popup
		position: relative
	table
		border-collapse: collapse
	td
		border-bottom: 0
		padding: 0
	.body
		padding: 10px
		background: #fff
		width: 625px
	.image
		text-align: center
	img
		border: 0
		margin: 0
	.footer
		padding-top: 0px
	.tl, .tr, .bl, .br
		height: 1px
		width: 1px
		padding: 0

#facebox_overlay
	position: fixed
	top: 0px
	left: 0px
	height: 100%
	width: 100%

.facebox_hide
	z-index: -100

.facebox_overlayBG
	background-color: #000
	z-index: 9999

* html #facebox_overlay
	position: absolute
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')